########################################
# Brief: Git Ignore Rules for C exercise code git repo
# Version: 0.1
# Author: swq
# Date: 2017.10.11
########################################


########################################
#               FOLDER                 #
########################################
# IGNORE
build/
.vscode/
# TRACE


########################################
#               FILE                   #
########################################

#===============IGNORE==================
*.data
*.gch
*.out
*.d
*.o
*.e
*.*~
# FOR GTAGS
GPATH
GRTAGS
GTAGS
#================TRACE==================

