########################################
# Brief: Git Ignore Rules for C exercise code git repo
# Version: 0.1
# Author: swq
# Date: 2017.10.11
########################################


########################################
#               FOLDER                 #
########################################
# IGNORE

# TRACE


########################################
#               FILE                   #
########################################

# IGNORE
bin/*
dep/*
obj/*

*.data
*.gch
*.out
*.d
*.o

# TRACE
!*.c
!*.cpp
!*.h
!Makefile
!.gitignore
